[Unit]
Description=Let's Encrypt renewal

[Service]
Type=oneshot
ExecStart=/usr/bin/certbot renew --quiet --agree-tos --deploy-hook "systemctl reload {{ apache_service }}.service"

# reload server manually
# --deploy-hook "systemctl reload nginx.service" to the ExecStart

# {{ ansible_hostname }}
